@charset "utf-8";

$color_bg           : #fff;
$color_text         : #000;
$color_border       : #afafaf;
$color_link         : #369;
$color_attention    : #df0000;
$color_attention_bg : #ffefef;

%clearfix {
	&::before,
	&::after {
		content: "";
		clear: both;
		display: block;
	}
}

[aria-hidden="true"]{
	display: none;
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0 none;
}
body {
	background: $color_bg;
	color: $color_text;
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}
input,
textarea,
select,
button,
label {
	cursor: pointer;
}
input,
textarea,
select,
button {
	vertical-align: middle;
}
small {
	font-size: 100%;
}
sup {
	font-size: 75%;
	vertical-align: top;
}
sub {
	font-size: 75%;
	vertical-align: 0;
}
[href^="http://"],
[href^="https://"] {
	&::after {
		content: "";
		display: inline-block;
		background: url("http://dummyimage.com/64x64/00f/fff.png&text=外");
		background-size: contain;
		width: 1em;
		height: 1em;
		vertical-align: middle;
	}
}
[href*=".pdf"]::before {
	.link-list &,
	& {
		content: "";
		display: inline-block;
		background: url("http://dummyimage.com/64x64/f00/fff.png&text=PDF");
		background-size: contain;
		width: 1em;
		height: 1em;
		vertical-align: middle;
	}
}
a {
	color: $color_link;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
table {
	border-collapse: collapse;
}
em {
	font-style: normal;
	font-weight: bold;
}
strong {
	color: $color_attention;
}


.structure {
	padding: 1em 2em;
}
.structure-body {
	@extend %clearfix;
	margin: 0 auto;
	max-width: 940px;
}


#screen-frame {
	padding: 0;
	overflow: hidden;
}


#site-header,
#site-footer {
	background: $color_text;
	color: $color_bg;

	a {
		color: inherit;
	}
}

#site-header {
	padding-top: 0;
	padding-bottom: 0;

	.shortcut {
		position: absolute;
	
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		a {
			display: inline-block;
			overflow: hidden;
			width: 0;
			height: 0;
			background: $color_bg;
			color: $color_link;
			&::before {
				content: "▼ ";
			}
			&:focus {
				width: auto;
				height: auto;
			}
		}
	}

	.title,
	.menu {
		float: left;
		padding: 0.875em 0 0;
	}

	.title {
		margin: 0 0.5em 0 0;
		padding: 0;
	
		img {
			vertical-align: top;
		}
	}

	.menu {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			float: left;
			margin: 0 0 0 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.search-box {
		float: right;
		margin: 0;
		padding: 0.875em 0 0;
	}
}


#site-footer {
	.menu {
		ul {
			@extend %clearfix;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			float: left;
			margin: 0 0 0 1em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}


#content {
	padding-top: 2em;
	padding-bottom: 6em;
}
.content-header {
}
.content-footer {
	margin: 4.5em 0 0;

	.to-pagetop {
		margin: 3em 0 -0.25em;
		padding: 1.25em 0 0;
		border-top: 1px solid;
		text-align: right;

		a::after {
			content: "▲";
		}
	}
}


.topicpath {
	clear: both;
	margin: 0;
	padding: 0.25em 0 0.5em;
	border-top: 1px solid $color_bg;
	font-size: 75%;
	line-height: 1.5;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		&::before {
			content: "> ";
		}
		&:first-child::before {
			content: none;
		}
		strong {
			color: inherit;
		}
	}
}


.section-frame {
	margin: 4.5em 0 4.25em;

	.section-frame {
		margin: 0;
	}
}
.section-footer {
	margin: 1.5em 0 -0.25em;
}


.supertitle {
	font-size: 50%;
}
.subtitle {
	font-size: 50%;
}


.heading1 {
	margin: 0;
	padding: 0.375em 0;
	border-top: 4px solid;
	border-bottom: 1px solid;
	font-size: 150%;
	line-height: 1.25;

	br {
		display: none;
	}

	.supertitle,
	.title,
	.subtitle {
		display: block;
	}
}


.heading2 {
	margin: 3em 0 0;
	padding: 0.5em 0;
	border-top: 2px solid;
	border-bottom: 1px solid;
	font-size: 150%;
	line-height: 1.25;

	a {
		display: block;
		margin: -0.5em 0;
		padding: 0.5em 0;
		text-decoration: none;
		transition:
			color 0.1s,
			background-color 0.1s
		;

		&::before {
			content: "> ";
		}
		&:hover,
		&:focus {
			background: $color_link;
			color: $color_bg;
		}
	}
}


.heading3 {
	margin: 3em 0 0;
	padding: 0.5em 0;
	border-top: 1px solid;
	border-bottom: 1px dotted;
	font-size: 125%;
	line-height: 1.25;

	a {
		display: block;
		margin: -0.5em 0;
		padding: 0.5em 0;
		text-decoration: none;
		transition:
			color 0.1s,
			background-color 0.1s
		;

		&::before {
			content: "> ";
		}
		&:hover,
		&:focus {
			background: $color_link;
			color: $color_bg;
		}
	}
}


.heading4 {
	margin: 3em 0 -0.125em;
	padding: 0.5em 0 0;
	border-top: 1px solid;
	font-size: 100%;
	line-height: 1.25;
}


.heading5 {
	margin: 3em 0 -0.125em;
	padding: 0;
	font-size: 100%;
	line-height: 1.25;

	&::before {
		content: "■";
	}
}


.heading6 {
	margin: 3em 0 -0.125em;
	padding: 0;
	font-size: 100%;
	line-height: 1.25;
}


.text-block p {
	margin: 1.25em 0 -0.25em;
	padding: 0;
	font-size: 100%;
	line-height: 1.5;
}


.list {
	margin: 1.5em 0 -0.125em;
	font-size: 100%;
	line-height: 1.25;

	> li {
		margin-top: 0.375em;
		margin-bottom: -0.125em;
	}
	.list {
		margin-top: -0.125em;
	}
}


.description-list {
	margin: 1.5em 0 -0.125em;
	padding: 0;
	font-size: 100%;
	line-height: 1.25;

	dt {
		margin: 0.75em 0 -0.125em;
		padding: 0.375em 0 0;
		border-top: 1px dotted;
		font-weight: bold;
	
		+ dt {
			margin-top: 0.375em;
			padding-top: 0;
			border-top: 0 none;
		}
	}
	dd {
		margin: 0.375em 0 -0.125em;
		padding: 0;
	}
}


.link-list {
	margin: 1.375em 0 -0.125em;
	padding: 0 0 0 1em;
	font-size: 100%;
	line-height: 1.25;

	> li {
		margin-top: 0.375em;
		margin-bottom: -0.125em;
	}
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
		&::before {
			content: "> ";
			margin-left: -1em;
			background: #fff;
		}
	}
	.prev a::before {
		content: "< ";
	}
	.next {
		list-style-type: none;

		a {
			&::before {
				content: none;
			}
			&::after {
				content: " >";
			}
		}
	}
}


.note-list {
	margin: 1.25em 0 -0.25em;
	padding: 0 0 0 1em;
	font-size: 75%;
	line-height: 1.5;
	list-style-type: none;

	> li {
		margin-top: 0.5em;
		margin-bottom: -0.25em;
	
		&::before {
			content: "※";
			margin-left: -1em;
		}
	}
}


.image {
	display: block;
	margin: 1.5em 0 0;
	padding: 0;
	border: 0 none;

	img {
		display: block;
		max-width: 100%;
	}
	.caption {
		display: block;
		margin: 0.25em 0 -0.25em;
		padding: 0;
		font-size: 75%;
		line-height: 1.5;
	}
}


.data-table {
	margin: 1.5em 0 0;
	width: 100%;

	caption {
		margin: -0.25em 0 0;
		padding: 0 0 0.5em;
		text-align: left;
		font-size: 75%;
		line-height: 1.5;
	}
	th,
	td {
		margin: 0;
		padding: 0.25em 0.5em;
		border: 1px solid;
		text-align: left;
		vertical-align: top;
	}
	th {
		background: $color_border;
	}
}


.format-table {
	margin: 1.5em 0 0;
	width: 100%;

	th,
	td {
		margin: 0;
		padding: 0.375em 0.5em;
		border-top: 1px dotted $color_border;
		border-bottom: 1px dotted $color_border;
		text-align: left;
		vertical-align: top;
	}
}



.step-list {
	display: flex;
	margin: 1.5em 0 0;
	padding: 0;
	border: 1px solid;
	border-radius: 0.5em;
	overflow: hidden;
	list-style-type: none;
	font-size: 100%;
	line-height: 1.5;

	li {
		flex: 1;
	
		> span,
		> strong {
			position: relative;
			display: block;
			padding: 0.25em 0.5em 0.25em 1em;
			background: $color_bg;
	
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: -0.575em;
				bottom: 0;
				border-top: 1em solid transparent;
				border-bottom: 1em solid transparent;
				border-left: 0.5em solid;
				z-index: 1;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: -0.5em;
				bottom: 0;
				border-top: 1em solid transparent;
				border-bottom: 1em solid transparent;
				border-left: 0.5em solid $color_bg;
				z-index: 1;
			}
		}
		> strong {
			background: $color_text;
			color: $color_bg;
			&::after {
				border-left-color: $color_text;
			}
		}
		&:first-child > span,
		&:first-child > strong {
			padding-left: 0.5em;
		}
		&:last-child > span,
		&:last-child > strong {
			&::before,
			&::after {
				content: none;
			}
		}
	}
}


.error-list {
	margin: 1.5em 0 0;
	padding: 0.5em 1em;
	border: 1px solid;
	list-style-type: none;
	background: $color_attention_bg;
	color: $color_attention;
	font-size: 100%;
	line-height: 1.25;

	li {
		margin: 0.5em 0 0;
		padding: 0 0 0 1.25em;
	
		&:first-child {
			margin-top: 0;
		}
		&::before {
			content: "[!] ";
			margin-left: -1.25em;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.required {
	color: $color_attention;
}

.checkbox-list,
.radio-list {
	margin: 1.5em 0 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin: 0 0.5em 0 0;
		padding: 0;
	}

	table &:first-child {
		margin-top: 0;
	}
}


.button-list {
	display: flex;
	margin: 3em 0 0;
	padding: 0;
	list-style-type: none;
	justify-content:center;

	li {
		margin: 0;
		padding: 0 0.25em;
	}
}


.button {
	-webkit-appearance: none;
	appearance: none;
	display: inline-block;
	margin: 0;
	padding: 0.25em 0.5em;
	min-width: 8em;
	border: 1px solid $color_text;
	border-radius: 0.5em;
	box-sizing: border-box;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	background: $color_link;
	color: $color_bg;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
	text-decoration: none;
	text-align: center;

	&.cancel {
		border-color: $color_border;
		background: $color_bg;
		color: $color_text;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
	}
	&.function {
		border-color: $color_border;
		background: $color_text;
		color: $color_bg;
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
		font-size: 75%;
	}
}


.page-list {
	margin: 3em 0 0;

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		justify-content:center;
	}
	li {
		margin: 0;
		padding: 0 0.25em;
	}
	a,
	strong {
		display: inline-block;
		padding: 0 0.5em;
		border: 1px solid;
		border-radius: 0.5em;
	}
	strong {
		border-color: $color_text;
		background: $color_text;
		color: $color_bg;
	}
	a {
		&:hover,
		&:focus {
			background: $color_link;
			color: $color_bg;
			text-decoration: none;
		}
	}
	.prev,
	.next {
		a {
			padding: 0;
			border-color: transparent;
			background: transparent;
			color: $color_link;
		}
	}
	.prev a::before {
		content: "< ";
	}
	.next a::after {
		content: " >";
	}
}


.accordion {
	margin: 3em 0 0;
	border: 1px solid;
	border-radius: 0.5em;
	overflow: hidden;
}
.accordion-toggle {
	position: relative;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: $color_link;
		color: $color_bg;
	}
	&::after {
		content: "▼";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 1em;
		margin: auto;
		height: 1em;
		line-height: 1em;
	}
	&[aria-selected="true"]::after {
		content: "▲";
	}
}
.accordion-label {
	margin: 0;
	padding: 0.25em 0.5em;
	font-size: 125%;
	line-height: 1.5;
}
.accordion-body {
	overflow: hidden;

	&[aria-expanded="false"] {
		height: 0;
	}
}
.accordion-content {
	border-top: 1px solid;
	padding: 0.5em 0.5em 0.75em;

	> :first-child,
	> .text-block:first-child p {
		margin-top: 0;
	}
}


.tab-group {
	margin: 3em 0 0;
}
.tab-list {
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		flex: 1;
	}
	.tab {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		padding: 0.25em 0.5em;
		height: 100%;
		border: 1px solid $color_text;
		border-radius: 0.5em 0.5em 0 0;
		background-color: $color_bg;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
	
		&:hover,
		&:focus {
			background-color: $color_link;
			color: $color_bg;
		}
		&[aria-selected="true"] {
			border-bottom-color: $color_bg;
			color: inherit;
			text-decoration: none;
			cursor: default;
	
			&:hover,
			&:focus {
				background-color: $color_bg;
				color: $color_text;
			}
		}
	}
}
.tab-panel {
	overflow: auto;
	margin-top: 0;
	padding: 0 1em 1.25em;
	border: 1px solid $color_text;
	border-top: 0 none;
	border-radius: 0 0 0.5em 0.5em;
	background-color: $color_bg;

	> .section-header {
		display: none;
	}
}



.layout {
	@extend %clearfix;
	margin: 0 -1em;
}
.col {
	float: left;
	padding: 0 1em;
	box-sizing: border-box;
}
.col-1\/2 {
	width: 50%;
}
.col-1\/3 {
	width: 33.333333%;
}
.col-2\/3 {
	width: 66.666666%;
}
.col-1\/4 {
	width: 25%;
}
.col-2\/4 {
	width: 50%;
}
.col-3\/4 {
	width: 75%;
}
.col-1\/5 {
	width: 20%;
}
.col-2\/5 {
	width: 40%;
}
.col-3\/5 {
	width: 60%;
}
.col-4\/5 {
	width: 80%;
}



